---

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  brackets: enable
  colons: enable
  commas: enable
  comments: disable
  comments-indentation:
    level: warning
  document-end: disable
  document-start:
    level: warning
  empty-lines: enable
  empty-values: disable
  hyphens: enable
  indentation: enable
  key-duplicates: enable
  key-ordering: disable
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: false
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: disable
  quoted-strings: disable
  trailing-spaces: disable
  truthy:
    level: warning
